<h1><%=@team["name"]%></h1><br>
<h2>Team Motto: <%=@team["motto"]%></h2>

<h2>Hero Name: <%=@team["member"][0]["name"]%></h2>
<h2>Hero power: <%=@team["member"][0]["power"]%></h2>
<h2>Hero Biography: <%=@team["member"][0]["biography"]%></h2>

<h2>Hero Name: <%=@team["member"][1]["name"]%></h2>
<h2>Hero power: <%=@team["member"][1]["power"]%></h2>
<h2>Hero Biography: <%=@team["member"][1]["biography"]%></h2>

<h2>Hero Name: <%=@team["member"][2]["name"]%></h2>
<h2>Hero power: <%=@team["member"][2]["power"]%></h2>
<h2>Hero Biography: <%=@team["member"][2]["biography"]%></h2>
